<div class="container">
    
    <h1 class="title">EDITAR CADASTRO</h1>

    <div class="div-form mat-elevation-z8">
        <h2 class="padding-1rem">INFORMAÇÕES PESSOAIS</h2>

        <mat-form-field appearance="outline" class="padding-1rem-div">
            <mat-label>Nome</mat-label>
            <input [(ngModel)]="person.firstname" matInput placeholder="Nome"required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Sobrenome</mat-label>
            <input [(ngModel)]="person.lastname" matInput placeholder="Sobrenome" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Apelido</mat-label>
            <input [(ngModel)]="person.surname" matInput placeholder="Apelido" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Data de Nascimento</mat-label>
            <input [(ngModel)]="person.birthDate" datetime="dd-MM-yyyy" type="date" matInput required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Idade</mat-label>
            <input [(ngModel)]="person.age" type="number" matInput required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Nacionalidade</mat-label>
            <input [(ngModel)]="person.nationality" matInput required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input [(ngModel)]="person.cpf" matInput placeholder="CPF"  required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>RG</mat-label>
            <input [(ngModel)]="person.rg" matInput placeholder="RG" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Nome do pai</mat-label>
            <input [(ngModel)]="person.fatherName" matInput placeholder="Nome do pai" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Nome da mãe</mat-label>
            <input [(ngModel)]="person.motherName" matInput placeholder="Nome da mãe" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Estado Cívil</mat-label>
            <mat-select [(ngModel)]="person.particulars.maritalStatus" name="maritalStatus">
            <mat-option ngDefaultControl *ngFor="let status of maritalStatus" [value]="status.value">
                {{status.viewValue}}
            </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Cor da pele</mat-label>
            <mat-select [(ngModel)]="person.particulars.skinColor" name="skinColor">
                <mat-option ngDefaultControl *ngFor="let color of skinColor" [value]="color.value">
                {{color.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Cor dos olhos</mat-label>
            <mat-select [(ngModel)]="person.particulars.skinEyes" name="skinEyes">
                <mat-option ngDefaultControl *ngFor="let color of eyeColor" [value]="color.value">
                {{color.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Tipo do cabelo</mat-label>
            <mat-select [(ngModel)]="person.particulars.hairType" name="hairType">
                <mat-option ngDefaultControl *ngFor="let type of hairType" [value]="type.value">
                {{type.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Cor do cabelo</mat-label>
            <mat-select [(ngModel)]="person.particulars.hairColor" name="hairColor">
            <mat-option ngDefaultControl *ngFor="let color of hairColor" [value]="color.value">
                {{color.viewValue}}
            </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
        <mat-label>Peso</mat-label>
        <input [(ngModel)]="person.particulars.weight" matInput placeholder=""
                required>
        </mat-form-field>

        <mat-form-field appearance="outline">
        <mat-label>Altura</mat-label>
        <input [(ngModel)]="person.particulars.height" matInput placeholder=""
                required>
        </mat-form-field>
    </div>


<div class="div-form mat-elevation-z8">

    <h2 class="padding-1rem">ENDEREÇO</h2>

    <mat-form-field appearance="outline" class="padding-1rem-div">
        <mat-label>Rua</mat-label>
        <input [(ngModel)]="person.address.street" matInput placeholder="Rua"
               required>
      </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Cidade</mat-label>
        <input [(ngModel)]="person.address.city" matInput placeholder="Cidade"
               required>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <input [(ngModel)]="person.address.state" matInput placeholder="Estado"
               required>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Número</mat-label>
        <input [(ngModel)]="person.address.number" matInput placeholder="Número"
               required>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>CEP</mat-label>
        <input [(ngModel)]="person.address.zipCode" matInput placeholder="CEP"
               required>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Complemento</mat-label>
        <input [(ngModel)]="person.address.complement" matInput placeholder="Complemento"
               required>
    </mat-form-field>
</div>

    <ng-container *ngFor="let occurrences of ocurrencesValue; let i = index"> 
        <div class="div-form mat-elevation-z8">  

            <h2 class="padding-1rem">PASSAGENS</h2>

            <mat-form-field appearance="outline"  class="padding-1rem-div">
                <mat-label>Data</mat-label>
                <input [(ngModel)]="occurrences.date" matInput  type="date">
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>Procedimento</mat-label>
                <input [(ngModel)]="occurrences.procedure" matInput  placeholder="Procedimento">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Artigo</mat-label>
                <input [(ngModel)]="occurrences.article" matInput  placeholder="Artigo">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Lei</mat-label>
                <input [(ngModel)]="occurrences.law" matInput  placeholder="Lei">
            </mat-form-field>
            <mat-form-field appearance="outline" class="historic" >
                <mat-label>Histórico</mat-label>
                <textarea [(ngModel)]="occurrences.historic" type="textarea" matInput placeholder="Histórico"></textarea>
            </mat-form-field>

            <div class="icon-occurrences">
                <button mat-icon-button (click)="deleteOccurrence(i)">
                    <mat-icon>delete_forever</mat-icon>Deletar passagem
                </button>
            </div>

        </div>
    </ng-container>


    <div [formGroup]="personFormGroup">
        <ng-container *ngFor="let occurrencesForm of occurrences.controls; let i = index">
            <ng-container formArrayName="occurrences">
                <div class="div-form mat-elevation-z8" [formGroupName]="i">

                        <mat-form-field appearance="outline" class="padding-1rem">
                            <input matInput formControlName="date" type="date">
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <mat-label>Procedimento</mat-label>
                            <input matInput formControlName="procedure" placeholder="Procedimento">
                        </mat-form-field>
    
                        <mat-form-field appearance="outline">
                            <mat-label>Artigo</mat-label>
                            <input matInput formControlName="article" placeholder="Artigo">
                        </mat-form-field>
    
                        <mat-form-field appearance="outline">
                            <mat-label>Lei</mat-label>
                            <input matInput formControlName="law" placeholder="Lei">
                        </mat-form-field>
    
                        <mat-form-field appearance="outline" class="historic">
                            <mat-label>Histórico</mat-label>
                            <textarea type="textarea" matInput formControlName="historic" placeholder="Histórico"></textarea>
                        </mat-form-field> 
    
                        <div class="icon-occurrences">
                            <button mat-icon-button (click)="deleteOccurrence(i)">
                                <mat-icon>delete_forever</mat-icon>Deletar passagem
                            </button>
                        </div>
                        
                </div>
            </ng-container>
        </ng-container>
    </div>

    <div class="add-button">
        <button mat-icon-button (click)="addOccurrences()">
            <mat-icon>add_circle_outline</mat-icon> Adicionar Passagem
        </button>
    </div>
    
    <div class="div-tatuagens mat-elevation-z8">

        <h2 class="padding-1rem">TATUAGENS</h2>

        <mat-form-field appearance="outline" class="padding-1rem-div">
            <mat-label>Face</mat-label>
            <input [(ngModel)]="person.tattoos.face" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Cicatriz</mat-label>
            <input [(ngModel)]="person.tattoos.scar" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Deformidade</mat-label>
            <input [(ngModel)]="person.tattoos.deformity" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Peito Esquerda</mat-label>
            <input [(ngModel)]="person.tattoos.leftChest" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Peito Direita</mat-label>
            <input [(ngModel)]="person.tattoos.rightChest" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Barriga Esquerda</mat-label>
            <input [(ngModel)]="person.tattoos.leftBelly" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Barriga Direita</mat-label>
            <input [(ngModel)]="person.tattoos.rightBelly" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Perna Esquerda</mat-label>
            <input [(ngModel)]="person.tattoos.leftLeg" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Perna Direita</mat-label>
            <input [(ngModel)]="person.tattoos.rightLeg" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Pé Esquerdo</mat-label>
            <input [(ngModel)]="person.tattoos.leftFeet" matInput>
        </mat-form-field>
                    
            <mat-form-field appearance="outline">
                <mat-label>Pé Direito</mat-label>
                <input [(ngModel)]="person.tattoos.rightFeet" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Braço Direito</mat-label>
                <input [(ngModel)]="person.tattoos.leftArm" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Braço Esquerdo</mat-label>
                <input [(ngModel)]="person.tattoos.rightArm" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Antebraço Esquerdo</mat-label>
                <input [(ngModel)]="person.tattoos.leftForearm" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Antebraço Direito</mat-label>
                <input [(ngModel)]="person.tattoos.rightForearm" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Mão Direita</mat-label>
                <input [(ngModel)]="person.tattoos.rightHand" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Mão Direita</mat-label>
                <input [(ngModel)]="person.tattoos.leftHand" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Mão Esquerda</mat-label>
                <input [(ngModel)]="person.tattoos.rightHand" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Pescoço Esquerda</mat-label>
                <input [(ngModel)]="person.tattoos.leftNeck" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Pescoço Direita</mat-label>
                <input [(ngModel)]="person.tattoos.rightNeck" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Costas Esquerda</mat-label>
                <input [(ngModel)]="person.tattoos.leftBack" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Costas Direita</mat-label>
                <input [(ngModel)]="person.tattoos.rightBack" matInput>
            </mat-form-field>

      </div>

      <div class="div-form">
        <h2 class="padding-1rem">FOTO</h2>

        <input
        style="display: none"
        type="file" accept="image/*" (change)="onFileChange($event)"
        #fileInput>
        <button (click)="fileInput.click()">Selecione uma imagem</button>

        <div>
            <img [src]="imgURL" class="preview">
        </div>


        <button (click)="updatePerson()">Salvar</button>

        <button (click)="updateImage()">Update Image</button>
      </div>
      
</div>
